</div>

<div class="footer-padding"></div>
<div class="footer">
  <p>Site by J humphries</p>
</div>

</div>


<!-- Javascript -->
<!--JQuery load via CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>

</body>

</html>
