<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sump City</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="svg-inject/dist/svg-inject.min.js"></script>

  <!-- <script>
    SVGInject.setOptions({
      afterLoad: function(svg, svgString) {
        // add a class to the svg
        svg.classList.add('my-class');
      },
      onFail: function(img) {
        // set the image background red
        img.style.background = 'red';
      }
    });
  </script> -->
</head>

<body>
  <div class="container">
    <!-- Menu -->
    <div class="topnav" id="myTopnav">
      <a href="contacts">Contact me!</a>
      <a href="projects">Projects</a>
      <a href="about">About me</a>
      <a href="/" class="active">Home</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <!-- Main Body -->
    <div class="body1">
