<!-- EJS includes header file -->
<%- include("partials/header") -%>

<h2>About me</h2>
<p>I have recently completed a computational PhD in theoretical astrophysics and I am now looking to transition to data science in the renewable energy sector.</p>


<!-- EJS includes footer file -->
<%- include("partials/footer") -%>
