<!-- EJS includes header file -->
<%- include("partials/header") -%>

<h2>Contact me</h2>
<p>You can find me on linked in <a href="https://www.linkedin.com/in/jack-humphries-530797181/">here</a></p>

<!-- EJS includes footer file -->
<%- include("partials/footer") -%>
