<!-- EJS includes header file -->
<%- include("partials/header") -%>


<div class="map-box">
  <img class="map" src="/images/sump-city-map.png" alt="">
  <img class="districts" src="/images/sump-city-outlines2.svg" onload="SVGInject(this)" alt="">
</div>

<!-- EJS includes footer file -->
<%- include("partials/footer") -%>
