<!-- EJS includes header file -->
<%- include("partials/header") -%>

<!-- <h1 class="name">Hello, I am Dr. Jack Humphries</h1> -->

<div class="blogPost">
  <h2><%= blogPost.title %></h2>
  <p><%= blogPost.content %></p>
</div>



<!-- EJS includes footer file -->
<%- include("partials/footer") -%>
