<!-- EJS includes header file -->
<%- include("partials/header") -%>

<h2>Projects</h2>
<p>When I finish this website, this page will link to some of my current projects.</p>


<!-- EJS includes footer file -->
<%- include("partials/footer") -%>
