
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  /* The image used */
  background-image: url("/images/disc.png");

  /* Set a specific height */
  min-height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-size: 64px;
  color: #eeeeee;
}

.body1 {
  height: 1000px;
  background-color: #fbf2e7;
}

.name{
  font-size: 72px;
}




/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 22px;
  transition-duration: 0.4s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #880099;
  color: white;
}

.topnav a.active:hover {
  background-color: #DF85FC;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/*Blog compose*/
.compose{
  margin: 0 auto 0 auto;
  max-width: 50em;
}

/* Child selector > */
.compose > h2, p {  
  margin: 1em 0 0.2em 0;
}

.blogInput {
  width: 100%;
}

.blogInputArea {
  height: 12em;
  text-align: top;
}

.composeButton {
  border: none;
  width: 10em;
  margin: 1em 0 0 auto;
  background-color: #a672c0;
  transition-duration: 0.4s;
}

.composeButton:hover {
  background-color: #fff;
  color: #462756;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
